<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
         <view allowMultiple="true"
            class="com.topsun.posclient.repository.ui.AdjustRepositoryView"
            icon="icons/type-list-1.png"
            id="com.topsun.posclient.repository.ui.AdjustRepositoryView"
            name="仓调仓" restorable="true">
      	</view>
      	<view allowMultiple="true"
            class="com.topsun.posclient.repository.ui.AdjustStoreView"
            icon="icons/type-list-1.png"
            id="com.topsun.posclient.repository.ui.AdjustStoreView"
            name="店调店" restorable="true">
      	</view>
   </extension>
</plugin>
