<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.views">
         <view allowMultiple="true"
            class="com.topsun.posclient.repository.ui.view.AdjustRepositoryView"
            icon="icons/gtk-quit.png"
            id="com.topsun.posclient.repository.ui.AdjustRepositoryView"
            name="回仓" restorable="true">
      	</view>
      	<view allowMultiple="true"
            class="com.topsun.posclient.repository.ui.view.AdjustStoreView"
            icon="icons/gtk-refresh-4.png"
            id="com.topsun.posclient.repository.ui.AdjustStoreView"
            name="店调店" restorable="true">
      	</view>
      	<view allowMultiple="true"
            class="com.topsun.posclient.repository.ui.view.CheckRepositoryView"
            icon="icons/gtk-refresh-4.png"
            id="com.topsun.posclient.repository.ui.CheckRepositoryView"
            name="库存盘点" restorable="true">
      	</view>
   </extension>
<extension
      point="com.topsun.tree">
   <tree
         icons="icons/gtk-quit.png"
         index="1"
         menuid="repository.menu"
         name="回仓"
         treeid="rep2rep.tree"
         viewid="com.topsun.posclient.repository.ui.AdjustRepositoryView">
   </tree>
   <tree
         icons="icons/gtk-refresh-4.png"
         index="2"
         menuid="repository.menu"
         name="店调店"
         treeid="shop2shop.tree"
         viewid="com.topsun.posclient.repository.ui.AdjustStoreView">
   </tree>
   <tree
         icons="icons/gtk-refresh-4.png"
         index="2"
         menuid="repository.menu"
         name="库存盘点"
         treeid="shop2shop.tree"
         viewid="com.topsun.posclient.repository.ui.CheckRepositoryView">
   </tree>
</extension>
<extension
      point="com.topsun.menu">
   <menu
         icon="icons/resp.png"
         index="300"
         menuid="repository.menu"
         name="库存">
   </menu>
</extension>
</plugin>
